@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@400;700&display=swap");
* {
  margin: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: url(../static//img/dcecf9b2.png);
  background-repeat: repeat;
  overflow-x: hidden;
  font-family: "Nunito", sans-serif;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

h1,
h2,
h3 {
  color: #e0e0eb;
}

label {
  color: #e0e0eb;
}

p {
  color: #e0e0eb;
}

.app {
  display: -webkit-flex;
  display: flex;
}

.app .app__sidebarleft {
  -webkit-flex: 0 1 20%;
  flex: 0 1 20%;
  border-right: #5c5c8a;
}

.app .app__chatcontainer {
  -webkit-flex: 0 1 60%;
  flex: 0 1 60%;
  background-color: #7575a3;
}

.app .app__sidebarright {
  -webkit-flex: 0 1 20%;
  flex: 0 1 20%;
  border-left: 1px solid #8585ad;
  background-color: #5c5c8a;
  color: white;
}
