@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@400;700&display=swap");
.friendlist {
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: space-between;
  justify-content: space-between;
  padding: 0.5rem;
}

.friendlist:hover {
  background-color: #7575a3;
}

.friendlist .friendlist__container {
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
  align-items: center;
}

.friendlist span {
  margin-left: 0.5rem;
}
