@import "./variables";
.header {
  background-color: $backgroundPrincipal;
  color: white;
  .header__container {
    display: flex;
    padding: 0.7rem;
    justify-content: space-between;
    align-items: center;

    .header__icon {
      display: flex;
      align-items: center;
      p {
        margin-left: 1rem;
      }
    }
  }
}
