@import "./variables";
.register {
  height: 90vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.register__container {
  max-width: 700px;
  width: 95%;
  display: flex;
  justify-content: center;
  border-radius: 10px;
  border: 1px solid $backgroundPrincipal;
  box-shadow: 1px 1px 25px 10px $backgroundPrincipal;
  background-color: rgba(0, 0, 0, 0.2);
  padding: 3rem 1rem 3rem 1rem;
  .register__formular {
    max-width: 500px;
    width: 95%;
    display: flex;
    flex-direction: column;

    .login__error {
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: rgb(129, 43, 43);
      color: $colorText;
      border-radius: 5px;
      box-shadow: 1px 1px 10px 1px rgb(58, 58, 58);

      p {
        margin-right: 0.5rem;
        .MuiSvgIcon-root {
          width: 2.3rem;
          height: 2.3rem;
        }
      }
    }
    h1 {
      text-align: center;
      margin-bottom: 1rem;
      text-transform: uppercase;
    }
    label {
      margin-top: 1rem;
    }
    .MuiSvgIcon-root {
      margin-top: 1rem;
      color: $colorText;
      width: 1.8rem;
      height: 1.8rem;
      z-index: 999;
    }
    input {
      padding: 0.8rem;
      margin-top: 0.5rem;
      border-radius: 4px;
      border: none;
      outline: none;
      font-size: 1rem;
      background-color: $colorText;
      color: $colorMarino;
      font-weight: 600;

      &:last-of-type {
        margin-bottom: 1rem;
      }
    }
    button {
      color: $colorText;
      background-color: $buttonBackground;
      padding: 1rem;
      letter-spacing: 0.2em;
      border: none;
      border-radius: 3px;
      text-transform: uppercase;
      cursor: pointer;
      transition: all 0.2s;
      outline: none;
      &:hover {
        background-color: $backgroundHover;
        color: white;
      }
    }
    .register__options {
      .register__checkbox {
        display: flex;
        align-items: center;
      }
      p {
        a {
          text-decoration: none;
          outline: none;
          color: $buttonBackground;
          margin-left: 0.5rem;
          text-decoration: underline;
          &:hover {
            color: $colorText;
          }
        }
      }
    }
  }
}
