@import "./variables";
.sidebar {
  background-color: $backgroundPrincipal;
  height: 100vh;
  min-width: 230px;
  color: white;

  .sidebar__container {
    height: 100%;
    display: flex;
    flex-direction: column;

    .sidebar__header {
      flex: 0 1 5%;
      padding: 1rem;
      display: flex;
      justify-content: space-between;
      align-items: center;
      background-color: $backgroundPrincipal;
      .sidebar__icons {
        .MuiSvgIcon-root {
          cursor: pointer;
        }
      }
    }

    .sidebar__title {
      flex: 0 1 5%;
      background-color: $backgroundPrincipal;
      padding: 0.5rem;
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 1rem;

      .MuiSvgIcon-root {
        cursor: pointer;
      }
    }
    .sidebar__friendlist {
      flex: 0 1 90%;
      display: flex;
      display: flex;
      flex-direction: column;
    }
  }
}
